*{
    margin: 0;
    padding: 0;
}

body{
   background: #0c0d11;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vw;
    transform: translate(-50%,-50%);
}

#text{
    display: flex;
    flex-wrap: wrap;
    color:#444763;
    font-size: 2em;
    line-height: 1.5em;
    margin-top: 20px;
}

.words{
    margin: .25em;
}

.space{
    padding: 0px 0.3em;
}


.sucess {
    color:#7ebab5;
}

.error{
    color:#fa4552;
}

#cursor{
    position: fixed;
    top: 0;
    left: 0;
    width: 1.2em;
    height: 2.5em;
    background: #7ebab5;
    border-radius: 3px;
    animation: cursorBlink 1000ms infinite;
    z-index: -1;
    transition: 100ms ease-in-out; 
}

@keyframes cursorBlink {
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}



#controlPanel{
    background: #171a25;
    width: fit-content;
    height: 30px;
    padding: 10px;
    background: #171a25;
    position: absolute;
    left: 50%;
    top:10%;
    transform: translateX(-50%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}



#controlPanel span{
    padding: 10px 10px;
    align-items: center;
    vertical-align: middle;
}

#controlPanel .seprator{
    height: 80%;
    width: 1px;
    background: #444763;
    padding: 0;
    margin: 20px;
}

#controlPanel span svg{
    height: 12px;
    width: 12px;
}

.off{
    color: #444763;
    fill : #444763;
    cursor: pointer;
}

.off:hover{
    color: #f6f5f5;
    fill: #f6f5f5;
}



.on{
    color:#7ebab5;
    fill : #7ebab5;
    cursor: pointer;
}



/*
 All styling related to modes like counter etc
 * */


.flipper{
    font-size: 30px;
}



/*
        Results Page
 * */

.incomplete{
    display: none;
}

.complete{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #0c0d11;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.complete #wpm{
    font-size: 70px;
    color:#7ebab5;
}

